@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#container{
  padding-top:20px;
  margin-top:20px;
  width:100vw;
  color:rgba(7, 7, 7, 0.699);
  background-color:#aca9a9;
  display:flex;
  flex-direction:column;
  align-items:center;
}
#contacts{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
#contacts--social{
  width:20%;
  display : flex;
  justify-content : space-between;
}
#contacts--social div{
  height:30px;
  width:30px;
  background-color:#aca9a9;
  align-items:center;
  border-radius: 30%;
}
#mentions p {
  font-size:0.5em;
}
.fa {
  padding: 15px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #cf55ee;
  color: white;
}